body
{
	background-color: #000000;
	font-family: helvetica;
	color: #ffffff;
	text-align: center;
	
}
#home
{
	float: left;
    width: 5%;
    height: auto;
}
#bouton_start
{
	height: auto;
	width: 15%;
}
#image_click
{
	height: auto;
	width: 35%;
}
#resultat
{
	font-size: 60px;
}
#retry
{
	height: auto;
	width: 5%;
}
.skill
{
	height: auto;
	width: 20%;
}
#spam
{
	height: auto;
	width: 30%;
}
#zone_click
{
	background-color :blue;
}
#video
{
    height: auto;
	width: 100%;
}
